.block__row{
		/* включает flex разметку */
	display: flex;
}
.block__row{
		/* строчный flex-контейнер */
	display: inline-flex;
		/* justify-content определяет выравнивание вдоль основной оси */
		/* flex-start стандартное значение влево */
	 justify-content:flex-start ; 
	 	/* flex-end уйдет контейнер вправо, также значение center*/
	justify-content: flex-end;
		/* jc - space-between пространство между элементами */
	justify-content: space-between;
		/* jc-space-around в этом случае добавляется пространство 	слева и справо флекс-элмента,  */
	justify-content: space-around;
		/* align-items определяет поведение вдоль поперечной оси 	flex-start прижимается к верху  flex-end прижимается к низу .center все флекс элементы выстроятся по центру относительно самого большого флекс элемента. baseline выстраивает по базовой линии все флекс */
	align-items: stretch;
		/* Свойство flex-wrap указывает, следует ли флексам располагаться в одну строку или можно занять несколько строк. Если перенос строк допускается, то свойство также позволяет контролировать направление, в котором выкладываются строки
		
		wrap-reverse оно заставляет флекс элемент в момент когда им не хватает место перекатываться на следующую строку, но задом 	наперед  */
	flex-wrap:wrap-reverse ;
		/* align-self переопределяет выравнивание */
	align-self: end;;

		/* oreder это порядок вывода */
	order: 1;
	order: 2;
	order: 3;
		/* управляет базовыми размерами элемента */
	flex-basis: auto;
		/* flex-grow возможность увеличиваться в размере */
	flex-grow: 0;
		/* возможность уменьшаться в размере  */
	flex-shrink: 1;
		/* правило написание flex элементов: flex-grow(0) flex-shrink(1) flex-basic(auto) */
	flex: 0 1 auto;

		/* flex-directinon: устанавливает основную ось
		flex-direction - CSS свойство , указывающее на то,как flex-элементы располагаются во flex-контейнере по главной оси и направлению (normal или reversed). Обратите внимание, что значения row и row-reverse зависят от направления flex-контейнера. column - заставляет элементы выстраиваться в колонку, column-reverse заставляет флекс стартовать снизу */
	flex-direction: row;



	
}	


